body {
    background-image: url('seating.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  #content {
      text-align: center;
      display: grid;
      background-color: rgba(255, 250, 250, 0.3);
      color: white;
  }